@spacer-offset: 10px;
// Helper Classes
.set-transition(@time) {
  -moz-transition: all @time ease-in;
  -o-transition: all @time ease-in;
  -webkit-transition: all @time ease-in;
  transition: all @time ease-in;
}

.border-radius(@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.linear-gradient(@first-color, @second-color) {
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{first-color}', EndColorStr='@{second-color}')";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @first-color), color-stop(1, @second-color));
  background-image: -o-linear-gradient(bottom, @first-color 0%, @second-color 100%);
  background-image: -moz-linear-gradient(bottom, @first-color 0%, @second-color 100%);
  background-image: -webkit-linear-gradient(bottom, @first-color 0%, @second-color 100%);
  background-image: -ms-linear-gradient(bottom, @first-color 0%, @second-color 100%);
  background-image: linear-gradient(to bottom, @first-color 0%, @second-color 100%);
}

.box-shadow {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.center-block {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.vertical-spacer {
  display: block;
  height: @spacer-offset;
  clear: both;
  margin: 0 auto;
  width: 1px;
  &.no-clear {
    clear: none;
  }
  &.mini{
    height: @spacer-offset * 0.5;
  }
  &.x2 {
    height: @spacer-offset * 2;
  }
  &.x3 {
    height: @spacer-offset * 3;
  }
  &.x4 {
    height: @spacer-offset * 4;
  }
  &.x5 {
    height: @spacer-offset * 5;
  }
  &.x6 {
    height: @spacer-offset * 6;
  }
  &.x7 {
    height: @spacer-offset * 7;
  }
  &.x8 {
    height: @spacer-offset * 8;
  }
  &.x9 {
    height: @spacer-offset * 9;
  }
  &.x10 {
    height: @spacer-offset * 10;
  }

}