@import "helper.less";

// Colors
@c-header: #FFF;
@c-header-font: #FFF;
@c-header-bg: #FF6100;
@c-default-border: #999;
@c-default-font: #FF6002;
@c-highlighted-bg: #FAFAFA;
@c-secondary-bg: #000000;
@c-footer: #341300;

body{
  .default-font-face();
}
header {
  background: @c-header-bg;
  padding: 10px 0;
  color: @c-header-font;
  .search-box {
    width: 100%;
    height: 52px;

    border: 1px solid @c-header-font;

    input#txt-search {
      .reset-control();
      width: 63%;
      height: 40px;
      text-indent: 20px;
      line-height: 40px;

    }

    select#cat-select {
      .reset-control();
      width: 25%;
      height: 30px;
      overflow: hidden;
      /*background: url(new_arrow.png) no-repeat right #ddd;*/
      text-indent: 20px;
      margin-top: 5px;
      border-left: 1px solid @c-header-font;
    }

    button#btn-search {
      width: 10%;
      height: 30px;
      .reset-control();
      border-left: 1px solid @c-header-font;
    }

    .reset-control {
      background: transparent;
      border: none;
      font-size: 1.2em;
    }
  }
  .user-access {

    color: lighten(@c-header, 15%);
    text-align: center;
    padding: 5px 0;
    border: 1px solid @c-header-font;
    a {
      color: inherit;
      text-decoration: underline;
    }
    &:hover {
      background: darken(@c-header-bg, 5%);
    }
    .set-transition(0.3s);
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @c-header-font;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @c-header-font;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @c-header-font;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @c-header-font;
  }
}

section {
  margin-top: @spacer-offset * 2;
}

.promoted-brands-header {
  .promoted-brands-nav {
    background: @c-highlighted-bg;
    height: 100px;
    border-bottom: 1px solid @c-default-border;
    .logo-wrap {
      text-align: center;
      line-height: 100px;
      &.active {
        background: #FFF;
        box-shadow: 2px 0 0 lighten(@c-default-border, 25%) inset, -1px 0 0 lighten(@c-default-border, 25%) inset,
          0 -5px 0 @c-default-font inset;

      }
    }
    .promoted-heading {
      text-indent: 30px;
    }
  }

}

.featured-brand {
  text-align: center;
  border-right: 2px solid @c-highlighted-bg;
}
.product-mini{
  h2{
    font-size: 20px;
  }
}

footer {
  margin-top: @spacer-offset * 3;
  background: @c-footer;
  color: lighten(@c-footer, 30%);
  .footer-heading {
    h2, h4 {
      /*font-family: 'Open Sans';*/
      text-transform: uppercase;
      font-weight: 600;
    }
    h4 {
      padding: 0;
      margin: 0;
    }
    h2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .footer-icon-wrap {
      display: block;
      margin-top: 20px;
      font-size: 3.00em;
    }
  }
  .footer-links {
    margin-top: 20px;
    ul {
      list-style: none;
      padding-left: 5em;
      li {
        &:before {
          display: inline-block;
          content: "-";
          width: 1em;
          margin-left: -1em;
        }
        a {
          color: inherit;
          text-decoration: underline;
          &:hover {
            color: lighten(@c-footer, 40%);

          }
          .set-transition(0.2s);
        }
      }
    }
  }
  .email-subscribe {
    background: transparent;
    border: 1px solid lighten(@c-footer, 30%);
    border-radius: 0;
    min-height: 55px;
    font-size: 1.2em;
    color: inherit;
    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: lighten(@c-footer, 15%);
    }
    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: lighten(@c-footer, 15%);
      opacity: 1;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: lighten(@c-footer, 15%);
      opacity: 1;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: lighten(@c-footer, 15%);
    }

  }
  .footer-social {
    padding: 10px 0;
    .btn {
      border-radius: 0;;
      color: #FFF;
      border: 0;
      @c-facebook: #435FA1;
      @c-twitter: #5BABF4;
      &.facebook {
        background: @c-facebook;
        &:hover {
          background: darken(@c-facebook, 15%);
        }
      }
      &.twitter {
        background: @c-twitter;
        &:hover {
          background: darken(@c-twitter, 15%);
        }
      }
      .set-transition(0.2s);
    }
  }
  .copyrights {
    font-size: 0.85em;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
  textarea {
    resize: none;
  }
}

//

// bootstrap Overwrites

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.horizontal-nav {
  li {
    a {
      padding: 4px 15px;
      border-bottom: 1px solid @c-default-border;

    }
  }
}

.default-text {
  color: @c-default-font;
}

.default-heading {
  color: #000;
  font-weight: 700;
}

.macro-heading {
  color: @c-default-font;
  font-weight: 700;
}

.btn-multi-text {
  background: @c-default-font;
  border: 1px solid darken(@c-default-font, 20%);
  border-radius: 0;
  color: #FFF;
  .main-text {
    font-size: 1.5em;
  }
  &:hover {
    background: darken(@c-default-font, 5%);
    border: 1px solid darken(@c-default-font, 30%);
    color: #FFF;
  }
  .set-transition(0.3s);
}
.right{
  float: right;
}
.nav {
  li > a {
    color: @c-default-font;
    &:hover {
      background: none;
      color: darken(@c-default-font, 15%);
    }
  }
}

// Product Page

#product-header, #product-content {
  margin: 0;
}

#product-content {
  .breadcrumb {
    background: transparent;
    a {
      color: @c-default-font;
    }
  }
  .product-logo {
    position: relative;
    margin-top: -100px;
    .thumbnail {
      display: inline-block;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }
  }
  .product-heading {
    padding-left: 15px;
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      .webkit-text-fix();

    }
    h4 {
      .reset-bold-heading();
    }
  }
  .product-info {
    ul {
      list-style: circle;
      font-size: 1.25em;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}

#manufacturer-details {
  .manufacturer-header {
    background: @c-secondary-bg;
    ul {
      list-style: none;
      li {
        display: inline-block;

        a {
          display: inline-block;
          padding: 10px 20px 0 0;
          margin: 0;
          font-size: 1.75em;
          color: @c-default-font;
          &.active {
            color: #FFF;
          }
          &:hover {
            text-decoration: none;
            color: darken(@c-default-font, 15%);
          }
          .webkit-text-fix();
          .default-font-face();
        }

      }
    }
  }
  .manufacturer-info {
    h1 {
      .reset-bold-heading();
      .webkit-text-fix();
    }
    h2 {
      .reset-bold-heading();
      font-weight: 400;
      text-transform: none;

    }
    h3 {
      .reset-bold-heading();
      font-size: 1.25em;

    }
  }
}
.form-wrapper{
font-family: "Open Sans", sans-serif;
  .col-sm-2{
    text-align: right;
  }
  label{
    padding-top: 5px;
    font-size: 12px;

  }
}
.reset-bold-heading {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0;
  margin: 0;
  .default-font-face();
}

.webkit-text-fix {
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}
.default-font-face{
  font-family: 'Raleway', sans-serif;
}