.box-shadow {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}
.center-block {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.vertical-spacer {
  display: block;
  height: 10px;
  clear: both;
  margin: 0 auto;
  width: 1px;
}
.vertical-spacer.no-clear {
  clear: none;
}
.vertical-spacer.mini {
  height: 5px;
}
.vertical-spacer.x2 {
  height: 20px;
}
.vertical-spacer.x3 {
  height: 30px;
}
.vertical-spacer.x4 {
  height: 40px;
}
.vertical-spacer.x5 {
  height: 50px;
}
.vertical-spacer.x6 {
  height: 60px;
}
.vertical-spacer.x7 {
  height: 70px;
}
.vertical-spacer.x8 {
  height: 80px;
}
.vertical-spacer.x9 {
  height: 90px;
}
.vertical-spacer.x10 {
  height: 100px;
}
body {
  font-family: 'Raleway', sans-serif;
}
header {
  background: #ff6100;
  padding: 10px 0;
  color: #ffffff;
}
header .search-box {
  width: 100%;
  height: 52px;
  border: 1px solid #ffffff;
}
header .search-box input#txt-search {
  background: transparent;
  border: none;
  font-size: 1.2em;
  width: 63%;
  height: 40px;
  text-indent: 20px;
  line-height: 40px;
}
header .search-box select#cat-select {
  background: transparent;
  border: none;
  font-size: 1.2em;
  width: 25%;
  height: 30px;
  overflow: hidden;
  /*background: url(new_arrow.png) no-repeat right #ddd;*/
  text-indent: 20px;
  margin-top: 5px;
  border-left: 1px solid #ffffff;
}
header .search-box button#btn-search {
  width: 10%;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 1.2em;
  border-left: 1px solid #ffffff;
}
header .search-box .reset-control {
  background: transparent;
  border: none;
  font-size: 1.2em;
}
header .user-access {
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #ffffff;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
header .user-access a {
  color: inherit;
  text-decoration: underline;
}
header .user-access:hover {
  background: #e65700;
}
header ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}
header :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
header ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
header :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
section {
  margin-top: 20px;
}
.promoted-brands-header .promoted-brands-nav {
  background: #fafafa;
  height: 100px;
  border-bottom: 1px solid #999999;
}
.promoted-brands-header .promoted-brands-nav .logo-wrap {
  text-align: center;
  line-height: 100px;
}
.promoted-brands-header .promoted-brands-nav .logo-wrap.active {
  background: #FFF;
  box-shadow: 2px 0 0 #d9d9d9 inset, -1px 0 0 #d9d9d9 inset, 0 -5px 0 #ff6002 inset;
}
.promoted-brands-header .promoted-brands-nav .promoted-heading {
  text-indent: 30px;
}
.featured-brand {
  text-align: center;
  border-right: 2px solid #fafafa;
}
.product-mini h2 {
  font-size: 20px;
}
footer {
  margin-top: 30px;
  background: #341300;
  color: #cd4b00;
}
footer .footer-heading h2,
footer .footer-heading h4 {
  /*font-family: 'Open Sans';*/
  text-transform: uppercase;
  font-weight: 600;
}
footer .footer-heading h4 {
  padding: 0;
  margin: 0;
}
footer .footer-heading h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}
footer .footer-heading .footer-icon-wrap {
  display: block;
  margin-top: 20px;
  font-size: 3.00em;
}
footer .footer-links {
  margin-top: 20px;
}
footer .footer-links ul {
  list-style: none;
  padding-left: 5em;
}
footer .footer-links ul li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
footer .footer-links ul li a {
  color: inherit;
  text-decoration: underline;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
footer .footer-links ul li a:hover {
  color: #ff5e01;
}
footer .email-subscribe {
  background: transparent;
  border: 1px solid #cd4b00;
  border-radius: 0;
  min-height: 55px;
  font-size: 1.2em;
  color: inherit;
}
footer .email-subscribe ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #812f00;
}
footer .email-subscribe :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #812f00;
  opacity: 1;
}
footer .email-subscribe ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #812f00;
  opacity: 1;
}
footer .email-subscribe :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #812f00;
}
footer .footer-social {
  padding: 10px 0;
}
footer .footer-social .btn {
  border-radius: 0;
  color: #FFF;
  border: 0;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
footer .footer-social .btn.facebook {
  background: #435fa1;
}
footer .footer-social .btn.facebook:hover {
  background: #2d3f6b;
}
footer .footer-social .btn.twitter {
  background: #5babf4;
}
footer .footer-social .btn.twitter:hover {
  background: #1386ef;
}
footer .copyrights {
  font-size: 0.85em;
}
footer .copyrights a {
  color: inherit;
  text-decoration: underline;
}
footer textarea {
  resize: none;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.horizontal-nav li a {
  padding: 4px 15px;
  border-bottom: 1px solid #999999;
}
.default-text {
  color: #ff6002;
}
.default-heading {
  color: #000;
  font-weight: 700;
}
.macro-heading {
  color: #ff6002;
  font-weight: 700;
}
.btn-multi-text {
  background: #ff6002;
  border: 1px solid #9b3a00;
  border-radius: 0;
  color: #FFF;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn-multi-text .main-text {
  font-size: 1.5em;
}
.btn-multi-text:hover {
  background: #e85600;
  border: 1px solid #682700;
  color: #FFF;
}
.right {
  float: right;
}
.nav li > a {
  color: #ff6002;
}
.nav li > a:hover {
  background: none;
  color: #b44300;
}
#product-header,
#product-content {
  margin: 0;
}
#product-content .breadcrumb {
  background: transparent;
}
#product-content .breadcrumb a {
  color: #ff6002;
}
#product-content .product-logo {
  position: relative;
  margin-top: -100px;
}
#product-content .product-logo .thumbnail {
  display: inline-block;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
#product-content .product-heading {
  padding-left: 15px;
}
#product-content .product-heading h1 {
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}
#product-content .product-heading h4 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
#product-content .product-info ul {
  list-style: circle;
  font-size: 1.25em;
}
#product-content .product-info h3 {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
#product-content .product-info p {
  padding: 0;
  margin: 0;
}
#manufacturer-details .manufacturer-header {
  background: #000000;
}
#manufacturer-details .manufacturer-header ul {
  list-style: none;
}
#manufacturer-details .manufacturer-header ul li {
  display: inline-block;
}
#manufacturer-details .manufacturer-header ul li a {
  display: inline-block;
  padding: 10px 20px 0 0;
  margin: 0;
  font-size: 1.75em;
  color: #ff6002;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
  font-family: 'Raleway', sans-serif;
}
#manufacturer-details .manufacturer-header ul li a.active {
  color: #FFF;
}
#manufacturer-details .manufacturer-header ul li a:hover {
  text-decoration: none;
  color: #b44300;
}
#manufacturer-details .manufacturer-info h1 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}
#manufacturer-details .manufacturer-info h2 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: none;
}
#manufacturer-details .manufacturer-info h3 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}
.form-wrapper {
  font-family: "Open Sans", sans-serif;
}
.form-wrapper .col-sm-2 {
  text-align: right;
}
.form-wrapper label {
  padding-top: 5px;
  font-size: 12px;
}
.reset-bold-heading {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.webkit-text-fix {
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}
.default-font-face {
  font-family: 'Raleway', sans-serif;
}
